// Colours //
// ============================================================ //
// ============================================================ //

$primary: #38c2f0;
$secondary: #f75175;
$background: #fefefe;
$gray: #a8a1a1;

