@use "variables" as *;

/* ============================================================ */
/* Base */
/* ============================================================ */

html,
body {
  height: 100%;
}

body {
  background: $background;
  color: #424242;
  font-family: "PT Sans", arial, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  text-transform: none;
}

h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
h4 {
  font-size: 18px;
  margin-bottom: 18px;
}
h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
h6 {
  font-size: 14px;
  margin-bottom: 12px;
}

p {
  line-height: 1.75;
  margin: 0 0 25px;
}

a {
  color: $primary;
  text-decoration: none;

  code {
    color: $primary;
  }
}

ul,
ol {
  line-height: 1.4;
  margin: 0 0 20px;

  ul,
  ol {
    margin: 10px 0 0 20px;
  }

  li {
    margin: 0 0 2px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

blockquote {
  border-left: 1px dotted $secondary;
  margin: 40px 0;
  padding: 5px 30px;

  p {
    color: #aeadad;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%;
  }
}

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%;

  &[src$="align-center"] {
    margin: auto;
  }

  &[src$="align-left"] {
    float: left;
    margin-right: 40px;
  }

  &[src$="align-right"] {
    float: right;
    margin-left: 40px;
  }
}

pre {
  border-radius: 3px;
  margin: 0 0 20px;
  overflow-x: auto;
  font-size: 16px;

  code {
    padding: 0;
    background: inherit;
    color: inherit;
    border: inherit;
  }
}

pre {
  padding: 20px;
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #8e8e8e0d;
  color: #5b6a71;
  border: 1px solid #e0e0e0;
}

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0;
}

table {
  margin-bottom: 40px;
  width: 100%;

  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3;
  }

  th {
    padding: 0 10px 10px;
    text-align: left;
  }

  td {
    padding: 10px;
  }

  tr {
    border-bottom: 1px dotted #aeadad;
  }
}

::selection {
  background: #fff5b8;
  color: #000;
  display: block;
}

::-moz-selection {
  background: #fff5b8;
  color: #000;
  display: block;
}

.fluid-width-video-wrapper {
  margin-bottom: 40px;
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* ============================================================ */
/* General Appearance */
/* ============================================================ */

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 889px;
}

#wrapper {
  height: auto;
  min-height: 100%;
  /* This must be the same as the height of the footer */
  margin-bottom: -210px;
  max-width: 50rem;
  padding: 2.625rem 1.3125rem;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background: $secondary;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase;

  &:hover {
    background: $primary;
  }
}

.button-square {
  background: $primary;
  color: #fff;
  float: left;
  font-size: 17px;
  margin: 0 0 0 10px;
  padding: 3px 8px 4px;

  &:hover {
    background: $secondary;
  }
}

.error {
  text-align: center;
}

.comments {
  margin-top: 10px;
}

/* ============================================================ */
/* Site Header */
/* ============================================================ */

.site-header {
  overflow: auto;
  text-align: center;
  text-transform: uppercase;

  .site-title a {
    font-size: 1.5rem;
  }
}

.code-brackets {
  width: 60px;
  height: 60px;
  margin: 10px 0 18px;

  path,
  polygon {
    fill: $secondary;
  }
}
.greeting {
  text-transform: none;
  font-weight: 600;
  font-size: 1.55rem;
  color: #de6479;
}

.tagline {
  text-transform: none;
  color: $gray;
  font-family: monospace;
  font-size: 16px;
}

.profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem auto;
}

.site-title-wrapper {
  display: table;
  margin: 0 auto;
}

.site-title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;

  a {
    float: left;
    background: $primary;
    color: #ffffff;
    padding: 5px 10px 6px;

    &:hover {
      background: $secondary;
    }
  }
}
.site-logo {
  display: block;

  img {
    margin: 0;
  }
}

.site-nav {
  list-style: none;
  margin: 28px 0 10px;
  padding: 0;
}

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px;

  a:hover {
    color: $secondary;
  }
}

/* ============================================================ */
/* Post */
/* ============================================================ */

#post-index .post-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

#latest-post {
  display: none;
}

.post-container {
  margin: 0 40px;
}

.post-header {
  margin: 0 0 20px;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.post-title,
.page-title {
  font-size: 52px;
  font-weight: 700;
  margin: 3rem 0 1.5rem;
  text-align: left;
}

.page-title {
  margin: 15px 40px;
}

.post-date,
.post-reading,
.blog-description {
  color: #aeadad;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
  text-align: left;

  a {
    color: #aeadad;
  }
  a:hover {
    color: $primary;
  }
}

.post-line {
  &:after {
    border-bottom: 1px dotted $secondary;
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px;
  }
}

.post-content {
  a:hover {
    border-bottom: 1px dotted $primary;
    padding: 0 0 2px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .footnote {
    border-spacing: 0;
    margin-bottom: 0;

    .label + td {
      width: 100%;
    }
  }

  .gist {
    tr {
      border-bottom: 0;
    }
  }
}

.post-footer {
  margin-top: 5px;
}

.post-tags,
.share {
  color: #aeadad;
  font-size: 14px;

  span {
    font-weight: 600;
  }
}

.post-tags {
  float: left;
  margin: 3px 0 0;
  a:hover {
    color: $secondary;
  }
}

.share {
  text-align: right;

  a {
    background: $primary;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 0 4px;
    width: 30px;
    text-align: center;
  }

  a:hover {
    background: $secondary;
  }
}

.post-navigation {
  display: table;
  margin: 70px auto 100px;
}

.newer-posts,
.older-posts {
  float: left;
  background: $primary;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase;

  &:hover {
    background: $secondary;
  }
}

.page-number {
  display: none;
}

/* ============================================================ */
/* Post Index */
/* ============================================================ */

.post-list {
  list-style: none;
  padding: 0;
}

.post-stub {
  border-bottom: 1px dotted $secondary;
  margin: 0;
  position: relative;

  &:first-child {
    padding-top: 0;
  }

  a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    color: #424242;
    padding: 20px 5px;

    &:hover {
      background: #fff3f5;
      color: $secondary;
      padding: 20px 12px;

      .post-stub-tag {
        background: $primary;
      }
    }
  }
}

.post-stub-tag {
  background: $secondary;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
}

.post-stub-title {
  display: inline-block;
  margin: 0;
  text-transform: none;
}

.post-stub-description {
  display: inline-block;
  margin: 0;
  text-transform: none;
}

.post-stub-date {
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  color: $gray;
}

.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px;
}

/* ============================================================ */
/* Author */
/* ============================================================ */

.author-profile {
  margin: 0 40px;

  &:after {
    border-bottom: 1px dotted $secondary;
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px;
  }
}

.author-heading {
  margin: 15px auto;
  text-align: center;
  width: 100%;
}

.author-avatar {
  border-radius: 50px;
  display: inline;
  height: 50px;
  margin: 5px 10px 0 0;
  width: 50px;
  vertical-align: middle;
}

.author-name {
  display: inline;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.author-meta {
  color: #aeadad;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
  text-align: center;
  text-transform: uppercase;

  span {
    display: inline-block;
    margin: 0 10px 8px;
  }

  i {
    margin-right: 8px;
  }

  a {
    color: #aeadad;
  }
  a:hover {
    color: $primary;
  }
}

.author-bio {
  margin: 20px auto 0;
  text-align: center;
  max-width: 700px;
}

/* ============================================================ */
/* Footer */
/* ============================================================ */

.footer {
  background: $background;
  color: #d3d3d3;
  height: 265px;
  margin-top: 200px;
  overflow: auto;

  .site-title-wrapper {
    margin: 80px auto 35px;
  }

  .site-title a:hover,
  .button-square:hover {
    background: $secondary;
  }

  .social-icons {
    width: 220px;
    margin: 10px auto;
  }
}

.footer-copyright {
  color: #656565;
  font-size: 14px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  a {
    color: #656565;
    font-weight: 700;

    &:hover {
      color: #ffffff;
    }
  }
}

/* ============================================================ */
/* NProgress */
/* ============================================================ */

#nprogress .bar {
  background: $primary;
}

#nprogress .peg {
  box-shadow: 0 0 10px $primary, 0 0 5px $primary;
}

#nprogress .spinner-icon {
  border-top-color: $primary;
  border-left-color: $primary;
}

/* ============================================================ */
/* Media Queries */
/* ============================================================ */

@media only screen and (max-width: 800px) {
  .post-stub-tag {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h1,
  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  ul,
  ol {
    margin-bottom: 20px;
  }

  img {
    margin: 30px 0;
  }

  blockquote {
    margin: 30px 0;
  }

  pre {
    margin: 20px 0;
  }

  hr {
    margin: 35px 0;
  }

  .site-header {
    padding-top: 10px;
  }

  .site-title {
    float: none;
    margin-bottom: 15px;

    a {
      float: none;
    }

    + .button-square {
      margin-left: 0;
    }
  }

  .site-nav-item {
    display: block;
    margin: 15px 0;
  }

  .post-header {
    margin-bottom: 20px;
    padding-bottom: 20px;

    p {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    font-size: 42px;
    margin-top: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 20px;

    &:after,
    &:before {
      margin-top: 30px;
    }
  }

  .author-profile {
    &:after,
    &:before {
      margin-top: 20px;
    }
  }

  .post-stub-title {
    display: block;
  }

  .post-stub-date {
    margin-left: 0;
  }

  .post-stub-date:before {
    content: "";
    display: block;
  }

  .post-list {
    margin-top: 20px;
  }

  .post-container,
  .post-list,
  .author-profile {
    margin-right: 25px;
    margin-left: 25px;
  }

  .post-tags {
    width: 100%;
  }

  .post-stub a,
  .post-stub a:hover {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .share {
    text-align: left;
    margin-top: 20px;

    a {
      margin: 0 5px 0 0;
    }
  }

  .footer {
    margin-top: 150px;

    .site-title-wrapper {
      text-align: center;
    }

    .button-jump-top {
      clear: both;
      display: inline-block;
      float: none;
    }
  }
}

@media only screen and (max-width: 400px) {
  .site-header {
    padding-top: 10px;
  }

  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    font-size: 30px;
    line-height: 1.25;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 2rem 0 0.5rem;
  }

  .post-date,
  .blog-description,
  .author-meta {
    line-height: 1.6;
  }

  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 10px;

    &:after,
    &:before {
      margin-top: 20px;
    }
  }

  .author-profile {
    &:after,
    &:before {
      margin-top: 10px;
    }
  }

  .post-container,
  .post-list,
  .author-profile {
    margin-right: 15px;
    margin-left: 15px;
  }

  .author-avatar {
    display: block;
    margin: 0 auto 18px;
  }

  .author-meta span {
    display: block;
    margin: 18px 0;
  }

  .footer-copyright {
    padding: 0 10px;
  }
}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup {
  background: #65c1ed30;
  clear: left;
  width: 100%;
  margin-top: 100px;
  border-radius: 3px;
  border: 1px solid #65c1ed3d;
}
#mc_embed_signup form {
  text-align: center;
  padding: 25px 15px;
}
.mc-field-group {
  display: inline-block;
} /* positions input field horizontally */
#mc_embed_signup input.email {
  font-family: inherit;
  font-size: 15px;
  border: 1px solid #abb0b2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 350px;
  vertical-align: top;
}
#mc_embed_signup label {
  display: block;
  font-size: 1.35rem;
  padding-bottom: 10px;
  font-weight: bold;
}
#mc_embed_signup .clear {
  display: inline-block;
} /* positions button horizontally in line with input */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: 0.03em;
  color: #fff;
  background: $primary;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0 0 0 5px;
  transition: all 0.23s ease-in-out 0s;
}
#mc_embed_signup .button:hover {
  background-color: #f75175;
}
#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}
#mc_embed_signup #mce-error-response {
  display: none;
}
#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}
#mc_embed_signup .intro {
  font-size: 1rem;
}

@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  #mc_embed_signup .clear {
    display: block;
    width: 100%;
  }
  #mc_embed_signup .button {
    width: 100%;
    margin: 5px 0 0 0;
  }
}

.hljs {
  padding: 1rem;
}

a.active {
  color: $secondary;
}
