{{ if .Site.Params.intro }}
    <header class="post-header">
        <img src="/images/profile_pic.jpg" alt="Jan Klimo" class="profile-image">
        <p class="greeting">Hi 👋</p>
        <p class="tagline" class="">
            I'm <a href="{{ .Site.Params.twitter }}" target="_blank">Jan</a>, software engineer based in Bangkok, Thailand.<br>
            I build products and share the most interesting things I learn along the way.
        </p>
        {{ partial "code_brackets.html"}}
    </header>
{{ end }}
