{{ $current := . }}
{{ range .Site.Menus.main.ByWeight }}
  {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
  {{ $active = or $active (eq .Name $current.Title) }}
  {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "posts")) }}
  {{ $active = or $active (and (eq .Name "Shopify Apps") (eq $current.Section "shopify-apps")) }}
  <li class="site-nav-item">
    <a title="{{ .Name }}" href="{{ .URL }}"
      class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
  </li>
{{ end }}
