<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="https://www.klimo.io{{ .Permalink }}">
<meta property="og:image:width" content="2048" />
<meta property="og:image:height" content="1170" />

{{ if .Params.tags  }}
  {{ $tags := delimit .Params.tags "," }}

  {{ $title := .Title }}
  {{ $title = replace $title "?" "%3F" }}
  {{ $title = replace $title "'" "%27" }}

  {{ $date := dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}
  <meta property="og:image" content="https://og-image.janklimo.now.sh/{{ $title }}?tags={{ $tags }}&description={{ .Description }}&date={{ $date }}&time={{ .ReadingTime }}">
  <meta name="twitter:image" content="https://og-image.janklimo.now.sh/{{ $title }}?tags={{ $tags }}&description={{ .Description }}&date={{ $date }}&time={{ .ReadingTime }}">
{{ else }}
  <meta property="og:image" content="https://www.klimo.io/images/cover.png" />
  <meta name="twitter:image" content="https://www.klimo.io/images/cover.png">
{{ end }}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@janklimo">
<meta name="twitter:creator" content="@janklimo">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
