<footer class="post-footer clearfix">
    {{ if .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{ $len := len .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                {{- if lt $index (sub $len 1) -}}, {{ end }}
            {{ end }}
        </p>
    {{ end}}

    <div class="share">
        {{ if or (not (isset .Site.Params "sharetwitter")) .Site.Params.shareTwitter }}
            <a class="icon-twitter" href="https://twitter.com/share?text={{ .Title }} by @janklimo&url={{ .Site.Params.domain}}{{ .Permalink }}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
                <span class="hidden">Twitter</span>
            </a>
        {{ end }}
    </div>

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://klimo.us2.list-manage.com/subscribe/post?u=60a38ce5acde10117dd351c1c&amp;id=89ad965331" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Subscribe to get my latest content by email</label>
            <p class="intro">Let me notify you when I publish a new post (once or twice a month).</p>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60a38ce5acde10117dd351c1c_89ad965331" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>

    <!--End mc_embed_signup-->
</footer>