<footer class="post-footer clearfix">
    {{ if .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{ $len := len .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                {{- if lt $index (sub $len 1) -}}, {{ end }}
            {{ end }}
        </p>
    {{ end}}

    <div class="share">
        {{ $tags :=  delimit .Params.tags ", " }}
        <a class="icon-twitter" href="https://twitter.com/share?text={{ .Title }} by @janklimo&hashtags={{ $tags }}&url={{ .Site.Params.domain}}{{ .Permalink }}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter"></i>
            <span class="hidden">Twitter</span>
        </a>
    </div>

    {{ partial "signup-form.html" }}
</footer>