<div class="social-icons">
    {{ with .Site.Params.twitter }}
        <a class="button-square button-social hint--top" data-hint="Twitter" title="Twitter" href="{{ . }}">
            <i class="fa fa-twitter"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.gitlab }}
        <a class="button-square button-social hint--top" data-hint="Gitlab" title="Gitlab" href="{{ . }}">
            <i class="fa fa-gitlab"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.github }}
        <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="{{ . }}">
            <i class="fa fa-github-alt"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.stackoverflow }}
        <a class="button-square button-social hint--top" data-hint="Stack Overflow" title="Stack Overflow" href="{{ . }}">
            <i class="fa fa-stack-overflow"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.linkedin }}
        <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="{{ . }}">
            <i class="fa fa-linkedin"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.gplus }}
        <a class="button-square button-social hint--top" data-hint="Google+" title="Google+" href="{{ . }}">
            <i class="fa fa-google-plus"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.email }}
        <a class="button-square button-social hint--top" data-hint="Email" title="Email" href="mailto:{{ . }}">
            <i class="fa fa-envelope"></i>
        </a>
    {{ end }}
    <a class="button-square" href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a>
</div>