<div class="social-icons">
    {{ with .Site.Params.twitter }}
        <a class="button-square button-social hint--top" data-hint="Twitter" title="Twitter" href="{{ . }}" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.github }}
        <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="{{ . }}" target="_blank">
            <i class="fa fa-github-alt"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.stackoverflow }}
        <a class="button-square button-social hint--top" data-hint="Stack Overflow" title="Stack Overflow" href="{{ . }}" target="_blank">
            <i class="fa fa-stack-overflow"></i>
        </a>
    {{ end }}
    {{ with .Site.Params.linkedin }}
        <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="{{ . }}" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
    {{ end }}
    <a class="button-square" target="_blank" href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a>
</div>